In [2]:
import pandas as pd

In [11]:
# Load data
df = pd.read_sas('data/CVX_C.XPT')
meta = pd.read_sas('data/DEMO_C.XPT')
print(df.head(2))
print('\n')
print("METADATA:")
print(meta.head(2))

      SEQN  CVDEXSTS      CVDEXCMT  CVDEXCL1  CVDEXCL2  CVDEXCL3  CVDEXCL4  \
0  21005.0       3.0  1.000000e+00       2.0       1.0       2.0       2.0
1  21006.0       1.0  5.397605e-79       NaN       NaN       NaN       NaN

   CVDEXCL5  CVDEXCL6  CVQ220A  ...  CVDR2TIM  CVDR2HR  CVDR2SY  CVDR2DI  \
0       2.0       2.0      NaN  ...       NaN      NaN      NaN      NaN
1       NaN       NaN      NaN  ...       1.0    105.0    113.0     54.0

   CVDR3TIM  CVDR3HR  CVDR3SY  CVDR3DI  CVDESVO2  CVDFITLV
0       NaN      NaN      NaN      NaN       NaN       NaN
1       NaN      NaN      NaN      NaN     82.85       3.0

[2 rows x 66 columns]


METADATA:
      SEQN  SDDSRVYR  RIDSTATR  RIDEXMON  RIAGENDR  RIDAGEYR  RIDAGEMN  \
0  21005.0       3.0       2.0       1.0       1.0      19.0     232.0
1  21006.0       3.0       2.0       2.0       2.0      16.0     203.0

   RIDAGEEX  RIDRETH1  RIDRETH2  ...  FIAPROXY  FIAINTRP  MIALANG  MIAPROXY  \
0     233.0       4.0       2.0  ...       2.0       2.0      1.0       2.0
1     205.0       4.0       2.0  ...       2.0       2.0      1.0       2.0

   MIAINTRP  AIALANG     WTINT2YR     WTMEC2YR  SDMVPSU  SDMVSTRA
0       2.0      1.0  5512.320949  5824.782465      2.0      39.0
1       2.0      1.0  5422.140453  5564.039715      1.0      41.0

[2 rows x 44 columns]

In [12]:
# Merge metadata with vo2max data
merged = df.merge(right=meta, how='inner', on='SEQN')
merged.head()

,SEQN,CVDEXSTS,CVDEXCMT,CVDEXCL1,CVDEXCL2,CVDEXCL3,CVDEXCL4,CVDEXCL5,CVDEXCL6,CVQ220A,...,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,21005.0,3.0,1.000000e+00,2.0,1.0,2.0,2.0,2.0,2.0,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,5512.320949,5824.782465,2.0,39.0
1,21006.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,5422.140453,5564.039715,1.0,41.0
2,21007.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,39764.177412,40591.066325,2.0,35.0
3,21008.0,2.0,9.000000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,5599.499351,5696.750596,1.0,32.0
4,21013.0,1.0,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,7174.371037,7304.945503,1.0,37.0

SEQN           0
CVDEXSTS       0
CVDEXCMT       0
CVDEXCL1    3790
CVDEXCL2    3790
            ...
AIALANG      473
WTINT2YR       0
WTMEC2YR       0
SDMVPSU        0
SDMVSTRA       0
Length: 109, dtype: int64